!!! Strict
%html{ html_attrs('en') }
  %head
    %title Movie alert
    %link( rel='stylesheet' type='text/css' href='/stylesheets/application.css' )
    %script( type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js' )
  %body
    #header
      %form#filters( action='/' )
        %ul
          %li.used
            %select( id='type' )
              %option( value='dvd' ) DVD
              %option( value='cinema' ) Cinema
              %option( value='torrents' ) Torrents
          %li
            %input.default( type='text' id='movie_title' value='Title' )/
          %li
            %input.default( type='text' id='movie_actor' value='Actor' )/
          %li
            %input.default( type='text' id='movie_director' value='Director' )/
          %li
            %select( id='movie_genre' )
              %option Genre
              - GENRES.each do |genre|
                %option= genre.capitalize
      %ul#subscription
        %li#email
          %form( action='/' )
            %input.default( type='text' value='Your e-mail' )/
            %input( type='submit' value='Subcribe' )/
        %li#twitter
          %form( action='/' )
            %input.default( type='text' value='Your twitter name' )/
            %input( type='submit' value='Subcribe' )/
    
    %script( type='text/javascript' src='/javascripts/application.js' )
