!!! Strict
%html{ html_attrs('en') }
  %head
    %title Movie alert
    %link( rel='stylesheet' type='text/css' href='/stylesheets/application.css' )    
  %body
    #header
      %form#filters( action='/' )
        %ul
          %li.used
            %select( id='type' )
              %option( value='dvd' ) DVD
              %option( value='cinema' ) Cinema
              %option( value='torrents' ) Torrents
          %li
            %input.default( type='text' id='movie_title' value='Title' )/
          %li
            %input.default( type='text' id='movie_actor' value='Actor' )/
          %li
            %input.default( type='text' id='movie_director' value='Director' )/
          %li
            %select.default( id='movie_genre' )
              %option.default Genre
              - Genres.each do |genre|
                %option= genre.capitalize
      %form#subscriptions( action='/' )
        %ul
          %li#email
            %input.default( type='text' value='Your e-mail' )/
          %li#twitter
            %input.default( type='text' value='Your twitter name' )/
          %li
            %input( type='submit' value='Subcribe' )/

    = yield
    
    %ul#dates
      - 3.times do |yead_add|
        %li
          = Date.today.year + yead_add
          %ul
            - 12.times do |month|
              %li= Date::MONTHNAMES[month + 1]

    %script( type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js' )
    %script( type='text/javascript' src='/javascripts/application.js' )
