@import compass/reset.sass
@import compass/utilities.sass
@import susy/susy.sass

@font-face
  font-family: 'Graublau Sans Web'
  src: local('Graublau Web'), local('GraublauWeb-Regular'), url(fonts/GraublauWeb.otf)

=sans-serif
  font-family: 'Graublau Sans Web', 'Arial Narrow', 'Arial', sans-serif
