@import base.sass

body
  +sans-serif
input, select
  +sans-serif
  font-size: 100%

a:focus, a:hover
  background-color= !color
  color: white

#header
  ul
    text-align: center
    max-width: 100%
    li
      padding: 0.9ex 0.3em 0.5ex 0.3em
      +border-bottom-left-radius(0.6ex)
      +border-bottom-right-radius(0.6ex)
      +inline-block
      input[type='text']
        width: 8em
  #filters
    li.used
      background = !color
  #subscriptions
    margin-left: -2em
    li
      padding-top: 0.5ex
      input[type='text']
        width: 9.5em
      input[type='submit']
        width: 5.5em

.default
  color: gray
  
select.default
  option
    color: black
  option.default
    color: gray

#dates
  position: absolute
  margin-top: 2ex
  left: 0.5em
  a
    text-decoration: none
    display: block
    padding: 0.4ex 0 0.4ex 0.3em
  ul li a
    padding-left: 1.3em
    font-size: 85%
