@import base.sass

body
  +sans-serif
input, select
  +sans-serif
  font-size: 100%
strong
  font-weight: bold
  
#header
  margin-bottom: 2ex
  ul
    text-align: center
    max-width: 100%
    li
      padding: 0.9ex 0.3em 0.5ex 0.3em
      +border-bottom-left-radius(0.6ex)
      +border-bottom-right-radius(0.6ex)
      +inline-block
      height: 3.5ex
      line-height: 3.5ex
      input[type='text']
        width= !filters_width
  #subscriptions
    li
      padding-top: 0.5ex
      input[type='text']
        width: 9.5em
      input[type='submit']
        width: 5.5e
  #description
    text-align: center
    padding: 0.5ex 0
    height: 3.5ex
    line-height: 3.5ex

#dates
  position: absolute
  right: 0
  width= !dates_width
  background: white
  margin-top: 2ex
  li a
    padding: 0.4ex 0.8em 0.4ex 0.6em
    display: block
    text-decoration: none
    +border-top-left-radius(0.6ex)
    +border-bottom-left-radius(0.6ex)
  ul li a
    padding-left: 1.3em
    font-size: 85%

#movies
  text-align: center
  margin-right= !dates_width
  li
    +inline-block
    width= !poster_width
    padding: 0.5em
    margin: 1ex 1em
    text-align: center
    vertical-align: top
    border: 2px solid white
    background: white
    +border-radius(0.6ex)
    img
      +box-shadow(3px, 3px, 3px, #888)
      margin-bottom: 0.6ex
    h1
      font-size: 110%
      line-height: 130%
    .release_date
      color: gray
      margin-top: 0.5ex
    .info
      position: absolute
      margin-left: 150px
      padding-left: 1em
      width: 15em
      display: none
      text-align: left
  li:hover
    border= 2px "solid" !color
    cursor: pointer
  .old
    +opacity(0.3)
  li.open
    border= 2px "solid" !color
    min-height: 15ex

h1.empty
  margin-top: 40%
  font-size: 140%

li.used, a.used
  background = !color
  color: white
#subscriptions .used
  background: white
  color: black

.ac_results
  ul
    margin-left: 2px
    width= !filters_width
    li
      background: white
      display: block
      padding: 0.3em 0.5em
    li.ac_even
      background-color: #eee
    li.ac_over
      background-color= !color
      color: white

.default
  color: gray
select.default
  option
    color: black
  option.label
    color: gray
option.label
  color: gray

.hide
  display: none
